{
  "parser": "@typescript-eslint/parser",
  "ignorePatterns": ["lib.es5.d.ts"],
  "parserOptions": {
    "requireConfigFile": false,
    "babelOptions": {
    }
  },
  "rules": {
    "operator-linebreak": ["off"],
    "dot-notation": "off",
    "multiline-ternary": "off",
    "indent": ["error", 4, { "ignoredNodes": ["TemplateLiteral *"] }],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1,
        "maxEOF": 1
      }
    ],
    "no-undef": "off",
    "comma-dangle": "off",
    "no-multi-spaces": ["error", { "ignoreEOLComments": true }]
  }
}
